 <!-- START CONTENT FRAME -->
<div class="content-frame">
  <!-- START CONTENT FRAME BODY -->
  <div class="content-frame-body content-frame-body-left">  

    <div class="gallery" id="links"> 
      <a class="gallery-item" href="assets/images/gallery/nature-7.jpg" title="Nature Image 7" data-gallery>
        <div class="image">
          <img src="assets/images/gallery/nature-7.jpg" alt="Nature Image 7" />
          <ul class="gallery-item-controls">
          </ul>
        </div>       
      </a>

      <a class="gallery-item" href="assets/images/gallery/music-5.jpg" title="Music picture 5" data-gallery>
        <div class="image">
          <img src="assets/images/gallery/music-5.jpg" alt="Music picture 5" />
          <ul class="gallery-item-controls">
          </ul>
        </div>     
      </a>
    </div>
  </div>
</div>
<!-- END CONTENT FRAME -->

     <!-- BLUEIMP GALLERY -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <!-- END BLUEIMP GALLERY -->
